* {
    margin:0;
    padding: 0;
}

header {
    z-index:999;
    position:absolute;
    top:0;  
    left:0;
    width:100%;
    /* padding: 30px 100px; */
    display: flex ;
    justify-content:space-between   ;
    
}



.find{
    position:absolute;
    top: 1%;
    left: 22%;
    background:#3a3c3f;
    /* transform:translate(-50%, -50%); */
   height: 20px;
   
   border-radius: 10px;
   padding:8px;
   
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
.find:hover > .search-txt{
    width:250px;
    padding: 1px;
}
 
.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e2e2e2;
    float: left;
    width:20px;
    height:20px;
    
    border-radius:20%;
    text-decoration: none;
}


.search-txt {
    border:none;
    background:none;
    outline:none;
    float:right;
    padding-left: 0px;
    color:rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.4s;
    line-height:-5px;
    width: 58px;
}
.top{
    display : flex ;
    margin: 0px;
    padding: 25px;
    
    background:hsla(0, 0%, 0%, 0.877);
}


  .sidenav
  { position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 246px;
    background-color:#0a586c;
    padding: 6px 14px;
  }
  /* .sidenav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 18;
    color: #eeeeee;
    
    
  } */
  
 
  
 
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* .log_link{
    display: flex;
  } */



.sidenav .log_cont  .logo
{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.log_cont .logo i{
  font-size: 28px;
  margin: 5px;
}

.log_cont  .logo .NameLogo{
  font-size: 20px;
  font-weight: 400;
}


/* button side  */

.sidenav #btn{
  position: absolute;
    top: 138px;
    left: 274px;
    color: rgb(124, 14, 14);
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidenav ul li{
position: relative;
list-style: none;
height: 42px;
width: 100%;
margin:0px 5px;
line-height: 42px;

}


.sidenav ul li a{
  padding: 0px 0px 0px 32px;
  display: flex;
  height: 50px;
  align-items: center;
  text-decoration: none;
  color:rgb(248, 248, 248);
  transition: all 0.4s ease ;
 
  
  }
  .sidenav ul li a:hover {
    color: #fff;
    background-color: #69cba0;
    padding: 2px;
    border-radius: 12px;
    /* font:caption; */
    font-weight:bold;
    
  }



  .sidenav ul li a i{
   
    height: 50px;
    min-width: 50px;
    border-radius: 15px;
    line-height: 50px;
    
  }


  .sidenav .login{
    position:absolute;
    color: #fff;
    bottom: 58px;
    left: 27px;
  }
  
  .sidenav .login  .login_lis{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.login  .login_lis .signup_lis{
  
  align-items: center;
}

.login  .login_lis .signup_lis .login_item{
 
  margin-left: -7px;
  color: #fff;
  background-color: #DC143C;
  padding: 0;
  text-align: center;
  align-items: center;
  border-radius: 22px;
  font: caption;
  width: 209px;
  height: 45px;
  font-weight: bold;

}

.login  .login_lis .signuplog{
  position: absolute;
  font-size: 18px;
  font-weight: 1000;
  left: 66px;
  top: 18px;
  width: auto;
  margin: 0;
  text-align: center;

}
.login  a{
  text-decoration: none;
  color: #e2e2e2;
}
.sidenav .log_link{
  margin: 15px 7px;
 
}
  
  .already{
      display: flex;
      color: rgb(255, 255, 255);
    }
  
    .log_already{
      margin: 0px 9px;
      font-size: 15px;
    }